include README.md
include CHANGELOG.md
include CITATION.cff
include LICENSE
include NOTICE
include SDK_VERSION
include FORMAT_VERSION
recursive-include sdk/python/src *.py
prune build
prune runtime
global-exclude *.py[cod]
global-exclude __pycache__
