include README.md
include CHANGELOG.md
include CITATION.cff
include VERSION
recursive-include docs *.md *.rst *.py *.txt
include .readthedocs.yaml
recursive-include cpp CMakeLists.txt *.hpp *.cpp
recursive-include tests *.py *.pfb *.pfc
prune build
prune runtime
global-exclude *.py[cod]
global-exclude __pycache__
